.fundoCadastro {
  background-image: url('https://ik.imagekit.io/wute/writingleft.jpg?updatedAt=1737123058128');
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
