.fundoLogin {
  background-image: url('https://ik.imagekit.io/wute/writing.webp?updatedAt=1737122450000');
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
